h1 {
  font-size: 80px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 53.6px 0px;
  font-weight: 700;
}
p {
  font-size: 50px;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
}
.p {
  margin: 35px 0px;
}
body {
  background-color: #494c66;
  color: white;
}
@media screen and (max-width: 535px) {
  p {
    font-size: 24px;
  }
  h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 300px) {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 32px;
  }
}
